h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.font-red {
    color: #f8777d;
}

.growup {
    background-image: url("../image/dashbroad/growup.png");
    background-size: 28px 28px;
    height: 28px;
    width: 28px;
    display: -moz-inline-box;
    display: inline-block;
}

.growups {
    background-image: url("../image/dashbroad/growup.png");
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    display: -moz-inline-box;
    display: inline-block;
    margin: 0 5px;
}

.navbar-searchbar {
    background-color: #65bcbf;
    width: 100vw;
    height: 70px;
}

.sidebar {
    padding: 0;
    position: fixed;
    left: 0;
    top: 70px;
    height: calc(100% - 70px);
    width: 100%;
    box-shadow: 3px 3px 3px 3px #cccccc;
    z-index: 90;
}

.userinfo {
    background-color: #FFFFFF;
    width: 100%;
    height: 150px;
    align-items: center;
}

.sidebar1,
.sidebar11,
.sidebar12,
.sidebar13,
.sidebar14,
.sidebar15,
.sidebar2,
.sidebar21,
.sidebar22,
.sidebar23,
.sidebar24,
.sidebar25 {
    width: 100%;
    align-items: center;
}

.sidebar .active {
    background-color: #f8777d;
}

.sidebar .active p {
    color: white;
}

.sidebar1,
.sidebar2 {
    padding-left: 40px;
    height: 50px;
}

.sidebar11,
.sidebar12,
.sidebar13,
.sidebar14,
.sidebar15,
.sidebar21,
.sidebar22,
.sidebar23,
.sidebar24,
.sidebar25 {
    padding-left: 50px;
    height: 45px;
    margin: 1px 0;
}

.sidebartextb,
.sidebartexts {
    font-weight: 500;
    margin: 0 0 0 10px;
    display: flexbox;
    color: black;
    text-decoration-color: #cccccc;
}

.sidebartexts {
    font-size: 1.25rem;
}

a:hover {
    text-decoration: none;
}

.userphoto {
    margin: 30px 5px 30px 30px;
    height: 90px;
    width: 90px;
    background-color: #222222;
}

.maindesk {
    padding: 0;
    position: fixed;
    right: 0;
    top: 70px;
    height: 150px;
    width: 100%;
    z-index: 89;
}

.strategybar {
    background-color: #FFFFFF;
    width: 100%;
    height: 150px;
    align-items: center;
    border-bottom-color: #EEEEEE;
    border-bottom-style: solid;
}

.strategy {
    width: 100%;
}

.subscribe {
    position: absolute;
    bottom: 0;
    height: 90px;
    width: 100%;
    background-color: #65bcbf;
}

.strategydetail {
    background-color: #FFFFFF;
    margin: 15px 0;
}

.checkitem {
    margin: 5px 0;
}

.borderr {
    border-right: solid;
    border-right-color: #EEEEEE;
    border-right-width: 1px;
}

.strategy-tag {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: #65BCBF;
    border-radius: 5px;
    color: #65BCBF;
    padding: 1px 5px;
    margin: 5px 0;
    font-weight: 600;
}

.sausage {
    margin: 5px 0 10px 0;
    align-items: center;
}

.sausage p {
    margin: 0;
}

.timetag {
    display: inline-block;
    background-color: #65BCBF;
    color: #FFFFFF;
    padding: 1px 10px;
    margin: 5px;
}

.timetag:active,
.timetag.active {
    display: inline-block;
    background-color: #DEE5EF;
    color: #FFFFFF;
    padding: 1px 10px;
    margin: 5px;
}

.strategydetail {
    height: 0px;
    -webkit-transition-property: height;
    -webkit-transition-duration: 5s;
    display: none;
}

.strategydetail.active {
    -webkit-transition-property: height;
    -webkit-transition-duration: 5s;
    height: auto;
    display: inherit;
}