{% extends "base_generic.html" %} {% block content %}{% load static %}

<link href='{% static "css/tos.css" %}' rel="stylesheet">
<div class="container tos">
    <h1 class="index-test text-center">
        關於倍利金融科技Bellykit
    </h1>
    <p class="tos-text" style="margin-top:20px;">
        倍利金融科技Bellykit是專為投資策略好手與投資市場新手搭建的策略交流訂閱平台。
        <br><br>程式語言普及與高科技的發展，許多投資市場新手認同互惠共享，因此願意分享自身投資心得予市場新手訂閱，降低資訊不對稱造成投資人的損失風險。倍利金融科技Bellykit不僅提供投資策略好手的投資研究報告，更可以讓投資市場新手隨時隨地追蹤各策略績效。
        <br><br>詳盡的研究報告搭配簡單的操作方式，倍利金融科技Bellykit致力於讓雙方滿足彼此的最大報酬，坐擁收益。
        <br><br>倍利金融科技Bellykit承諾：
    </p>
    <ol>
        <li>
            投資策略好手僅提供自身真實投資研究報告，讓投資市場新手根據願意承擔風險程度自由訂閱。
        </li>
        <li class="tos-text">
            永遠提供公開透明的數據，創造多元包容的交流環境，成為全臺灣最大的投資策略訂閱平台。
        </li>
    </ol>
</div>

{% endblock content %}