<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bellykit投資策略平台</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href='{% static "css/index.css" %}' rel="stylesheet">
    <script src='{% static "vendor/jquery/jquery.min.js" %}'></script>
    <script src='{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

    <!-- Chart.js -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>


</head>
<body onscroll=scrolldown() >
   
    {% block navbar %}
    <nav class="navbar navbar-expand-md navbar-light bg-test fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src='{% static "image/bellykitlogo.png" %}' height="40px"><img src='{% static "image/bellykitlogo2.png" %}' height="32px" style="margin-left:30px"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
             </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="strategy.html">策略</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pricing.html">方案</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">關於</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="logintext" href="#login">登入</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock navbar %} <div style="min-height: calc( 100vh - 400px );">{% block content %} {% endblock content %}</div>
    <!--    __        -->
    <!--  > . )_      -->
    <!-- ~ (_____>  ~ -->
    <!--  ~   ~  ~  ~ -->

    <footer class="py-5" style="background-color:#0d1b46 ;">
        <div class="container">
            <div class="row footer-menu justify-content-center">
                <ul>
                    <li> <a href="about.html" title="關於Bellykit">關於Bellykit</a> </li>
                    <li> <a href="law.html" title="法律聲明">法律聲明</a> </li>
                    <li> <a href="tos.html" title="服務條款">服務條款</a> </li>
                    <li> <a href="copyright.html" title="著作權聲明">著作權聲明</a> </li>
                    <li> <a href="privacy.html" title="隱私權暨個人資料保護聲明">隱私權暨個人資料保護聲明</a> </li>
                </ul>
            </div>
    
            <p class="m-0 text-center text-white">Copyright &copy; 倍利金融科技公司 Since 2019</p>
            <p class="text-center text-white" style="font-size:0.8rem">本系統為雲端化的策略開發平台，所有策略由用戶自行開發與使用，不做任何投資理財建議，請投資者謹慎使用。</p>
            <p class="m-0 text-center text-white">聯絡信箱：service@bellykit.com.tw</p class>
        </div>
    </footer>
    
    <script src="{% static 'js/index.js' %}"></script>
</body>
<!-- Footer -->
{% block footer %}

{% endblock footer %}