{% extends "base_generic.html" %} {% block content %}{% load static %}

<link href='{% static "css/tos.css" %}' rel="stylesheet">
<div class="container tos">
    <h1 class="index-test text-center">
        著作權聲明
    </h1>
    <ol>
        <li class="tos-text">
            倍利金融科技Bellykit（以下簡稱「本網站」）之新聞、圖片、資料等內容，著作權及其他智慧財產權均屬於倍利金融科技Bellykit（以下簡稱「本公司」）及/或倍利金融科技Bellykit合作夥伴所有，任何人未經本公司以書面授權同意，不得以任何形式予以重製、編輯、轉載、散布、發行、公開傳輸或為其他任何未經本公司同意之利用，違者必依法追究責任。
        </li>
        <li class="tos-text">
            如您對本網站之內容有任何意見或指教，或想與倍利金融科技Bellykit開展任何合作關係，敬請與我們聯絡。
        </li>
    </ol>
</div>

{% endblock content %}