{% extends "base_generic.html" %} {% block content %} {% load static %}
<link href='{% static "css/dashboard.css" %}' rel="stylesheet">
<div class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="col-xl-5 col-md-6" style="margin:10px 0;">
            <h3>{{ strategy_id }}</h3>
            <a href='{% static "#" class="strategy-tag" %}'># 小資</a>
            <a href='{% static "#" class="strategy-tag" %}'># 大戶指標</a>
            <a href='{% static "#" class="strategy-tag" %}'># 長期</a>
        </div>
        <div class="col-xl-7 col-md-6" style="margin:10px 0;;">
            <h6>累積報酬率</h6>
            <h1 style="text-align:end;display:inline;color: #F8777D;font-weight: 600;">
                <div class="growup"></div>
                {{ ROI }}</h1>
            <text style="margin-left:30px ;">(最近12個月)</text>
        </div>
        <div class="col-md-6 col-lg-4" style="margin:10px 0;">
            <div class="strategybox h-100">
                <h5 class="borderb" style="padding: 5px;margin-bottom: 5px;">策略簡介</h5>
                <p style="margin: 10px;">{{ simple_introduction }}</p>
            </div>

        </div>
        <div class="col-md-6 col-lg-4" style="margin:10px 0;">
            <div class="strategybox  h-100">
                <h5 class="borderb" style="padding: 5px;margin-bottom: 5px;">策略基本資料</h5>
                <div class="row sausage">
                    <img src='{% static "image/dashbroad/sausage.png" %}' alt="" style="margin:8px;height:26px;width:26px">
                    <p style="color:#A1B0C6;font-size:0.9rem;margin:0 10px">交易商品</p>
                    <p style="font-size:1rem;">{{ target }}</p>

                </div>
                <div class="row sausage">
                    <img src='{% static "image/dashbroad/sausage.png" %}' alt="" style="margin:8px;height:26px;width:26px">

                    <p style="color:#A1B0C6;font-size:0.9rem;margin:0 10px">每單位資金</p>
                    <p style="font-size:1rem;">{{ capital_per_unit }}</p>

                </div>
                <div class="row sausage">
                    <img src='{% static "image/dashbroad/sausage.png" %}' alt="" style="margin:8px;height:26px;width:26px">

                    <p style="color:#A1B0C6;font-size:0.9rem;margin:0 10px">策略開始時間</p>
                    <p style="font-size:1rem;">{{ strategy_online_time }}</p>

                </div>
                <div class="row sausage">
                    <img src='{% static "image/dashbroad/sausage.png" %}' alt="" style="margin:8px;height:26px;width:26px">

                    <p style="color:#A1B0C6;font-size:0.9rem;margin:0 10px">夏普比率</p>
                    <p style="font-size:1rem;">{{ online_sharpe_ratio }}</p>

                </div>
                <div class="row sausage">
                    <img src='{% static "image/dashbroad/sausage.png" %}' alt="" style="margin:8px;height:26px;width:26px">

                    <p style="color:#A1B0C6;font-size:0.9rem;margin:0 10px">最大回檔</p>
                    <p style="font-size:1rem;">{{ MDD }}</p>

                </div>
                <div class="row sausage">
                    <img src='{% static "image/dashbroad/sausage.png" %}' alt="" style="margin:8px;height:26px;width:26px">

                    <p style="color:#A1B0C6;font-size:0.9rem;margin:0 10px">回測手續費</p>
                    <p style="font-size:1rem;">{{ fee }}</p>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4" style="margin:10px 0;">
            <div class="strategybox h-100">
                <div class="strategybox h-100">
                    <h5 class="borderb" style="padding: 5px;margin-bottom: 5px;">策略能力值</h5>
                    <table class="strategytable" style="width: 100%;">
                        <thead>
                            <th></th>
                            <th>
                                <div style="display: inline-block; border-radius: 5px; width:2.5rem;color: #FFFFFF;background-color: #F8777D; padding:2px 5px;">上線</div>
                            </th>
                            <th>
                                <div style="display: inline-block;border-radius: 5px; width:2.5rem;color: #FFFFFF;background-color: #F8777D; padding:2px 5px">回測</div>
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tl">勝率</td>
                                <td>{{ online_win_rate }}</td>
                                <td>{{ backtest_win_rate }}</td>
                            </tr>
                            <tr>
                                <td class="tl">進場交易頻率</td>
                                <td>{{ online_frequency }}</td>
                                <td>{{ backtest_frequency }}</td>
                            </tr>
                            <tr>
                                <td class="tl">最大連續虧損次數</td>
                                <td>{{ online_MDD_times }}</td>
                                <td>{{ backtest_MDD_times }}</td>
                            </tr>
                            <tr>
                                <td class="tl">風險報酬比</td>
                                <td>{{ online_return_risk_ratio }}</td>
                                <td>{{ return_risk_ratio }}</td>
                            </tr>
                            <tr>
                                <td class="tl">夏普比率</td>
                                <td>{{ online_sharpe_ratio }}</td>
                                <td>{{ backtest_sharpe_ratio }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-8" style="margin:20px 0">
            <div class="strategybox h-100">
                <h5 class="borderb" style="padding: 5px;margin-bottom: 5px;">目前持股</h5>
                <!-- 加更新時間 -->
                <table class="strategytable2">
                    <thead>
                        <th>日期時間</th>
                        <th>股票名稱</th>
                        <th>成交價</th>
                        <th>目前市價</th>
                        <th>損益</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ current_date }}</td>
                            <td>{{ current_name }}</td>
                            <td>{{ current_deal_price }}</td>
                            <td>{{ current_market_price }}</td>
                            <td>{{ current_income }}</td>
                            <!-- 損益後端要寫變色 -->
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="col-md-6 col-lg-4" style="margin:20px 0">
            <div class="strategybox h-100">
                <h5 class="borderb" style="padding: 5px;margin-bottom: 5px;">預計購買</h5>
                <table class="strategytable2">
                    <thead>
                        <th>操作</th>
                        <th>股票名稱</th>
                        <th>操作時間</th>
                        <th>最新收盤價</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ expectation_action }}</td>
                            <!-- 操作後端要寫變色 -->
                            <td>{{ expectation_name }}</td>
                            <td>{{ expectation_time }}</td>
                            <td>{{ expectation_market_price }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12" style="margin:10px 0">
            <div class="strategybox h-100">
                <h5 class="borderb" style="padding: 5px;margin-bottom: 5px;">損益圖</h5>
                <p style=" color:#A1B0C6;width:100%"><button class="btn timetag">1月</button>
                    <button class="btn timetag active" aria-pressed="true">3月</button>
                    <button class="btn timetag">6月</button>
                    <button class="btn timetag">1年</button>
                    <button class="btn timetag">回測</button><span style="display: inline-block;">
                        <text style="margin-left: 10px;">最大回檔區間</text>
                        <text style="color: black;">{{ MDD_interval }}</text></span>
                </p>
                <div class="col">
                    <img src='{% static "image/dashbroad/mainLine_1037X270.5.png" %}' alt="" style="height: auto;width: 100%">
                    <div class="detailgraph" style="height:100%;width:20px;position: absolute;top:0 ;left: 57%"></div>
                    <img class="detailtag" src='{% static "image/dashbroad/detailhover.png" %}' alt=""></div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 order-lg-2" style="margin:20px 0;">
            <div class="strategybox h-100">
                <h5 class="borderb" style="padding: 5px;margin-bottom: 5px;">策略操作方式</h5>
                <p style="margin: 10px;">{{ how_to_use }}</p>
            </div>
        </div>
        <div class="col-lg-8 order-lg-1" style="margin:20px 0">
            <div class="strategybox h-100">
                <h5 class="borderb" style="padding: 5px;margin-bottom: 5px;">歷史觀察名單</h5>
                <!-- 要記得寫箭頭 -->
                <table class="strategytable2">
                    <thead>
                        <th>持股期間</th>
                        <th>股票名稱</th>
                        <th>買入價</th>
                        <th>賣出價</th>
                        <th>損益</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ history_holding_interval }}</td>
                            <td>{{ history_name }}</td>
                            <td>{{ history_buy_price }}</td>
                            <td>{{ history_sell_price }}</td>
                            <td>{{ history_income }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-12 order-last" style="margin:20px 0">
            <div class="strategybox h-100">
                <h5 class="borderb" style="padding: 5px;margin-bottom: 5px;">詳細介紹</h5>
                <p style="margin: 10px;">{{ introduction }}</p>
            </div>
        </div>
        <div class="col-12 order-last" style="margin:20px 0">
            <div class="strategybox h-100">
                <h5 class="borderb" style="padding: 5px;margin-bottom: 5px;">評論</h5>
                <!-- 要加刪除、編輯、回覆功能 -->
                <div class="col-12">
                    <div class="row align-items-center borderb" style="padding:20px 0;">
                        <span class="userphoto-s"></span>
                        <div class="col">
                            <h6 style="color:#0D1B46">{{ comment_user_name }}</h6>
                            <textarea type="text" class="form-control" row="5" id="message" placeholder="留下您的評論" style="margin-top: 5px;height: 4rem;line-height: 1rem;;font-size: 0.8rem;"></textarea>
                        </div>
                        <button class="btn btn-default btn-message">送出</button>
                    </div>
                    <div class="row align-items-center borderb" style="padding:10px 0;">
                        <span class="userphoto-s"></span>
                        <div class="col">
                            <h6 style="color:#0D1B46">{{ comment_user_name }}<text style="font-size: 0.8rem;color: #CDCDCD;float: right;">{{ comment_time }}</text></h6>
                            <h6>{{ comment_content }}</h6>
                        </div>
                        <div class="w-100"></div>
                        <span class="userphoto-s" style="margin-left: 70px;"></span>
                        <div class="col">
                            <h6 style="color:#0D1B46"><a href='{% static "writer.html" %}' style="color:#000">{{ subcomment_user_name }}</a><text style="font-size: 0.8rem;color: #CDCDCD;float: right;">{{ subcomment_time }}</text></h6>
                            <h6>{{ subcomment_content }}</h6>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Bootstrap core JavaScript -->
<script src='{% static "vendor/jquery/jquery.min.js" %}'></script>
<script src='{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
<script>
    $(window).on('load', function() {
        $('#loading').fadeOut(1000);
    });
</script>

<script>
    $("#sidebarbtn").on("click", function() {
        $(".sidebar").toggleClass("active");
    })
</script>
<script>
    $(".regard").on("mouseover", function() {
        $(".regard-detail").attr("class", "regard-detail active");
    })
    $(".regard").on("mouseout", function() {
        $(".regard-detail").attr("class", "regard-detail");
    })
</script>

<script>
    const detailgraph = Array.from(document.getElementsByClassName("detailgraph"));
    const detailtag = Array.from(document.getElementsByClassName("detailtag"));

    function show(detailtag) {
        detailtag.className += " active";
    }

    function showoff(detailtag) {
        detailtag.className = "detailtag"
    }

    detailgraph.forEach(function(t) {
        t.addEventListener('mouseover', (t) => {
            detailtag.forEach(function(f) {
                show(f);
            })
        })
        t.addEventListener('mouseout', () => {
            detailtag.forEach(function(f) {
                showoff(f);
            })
        })
    })
</script>

{% endblock content %}