{% extends "base_generic.html" %}

{% block content %}
<header>
    <!-- <div class="container-fiuld" style="margin-top:-150px">
        <div class=" row justify-content-center" style="background-image:url(index-1.jpg);height:1050px ;">
            <div style="background-color:rgba(222,245,234,0.5);height:250px;width:375px;margin-top:80px ;">
                <h4 style="margin: 20px"><img src="image/dashbroad/eatmeat.png" width="60px" height="60px" alt="logo">Bellykit投資策略平台</h4>
                <h3>把握每個吃肉的瞬間！</h3>
                <button style="margin: 20px;" id="註冊1">立刻加入！</button>
            </div>
        </div>
    </div>
    英雄榜 -->
    <div class="container-fiuld" style="background-color:#EEEEEE;">
        <div class=row style="min-height: 350px;;position: relative;">
            <img src="image/index0.png" alt="" style="min-width: 300px;width:65%;position: absolute;right:0">
            <img src="image/text.png" alt="" style="min-width:280px;width:35%;position:absolute;left:23%;top: 30vmin;">
            <img src="image/item0.png" alt="" style="margin-top:50vmin;min-width:230px;min-height:138px;height:15vw;width:24.4vw ;">
        </div>
    </div>

    <div class="container-fiuld" style="background-color: #EEEEEE">
        <h3 class="index-text" style="margin:60px 0 30px 0;">Bellykit 能做什麼？</h3>
        <div class="col road">
            <div class="row justify-content-center">
                <div class="row" style="max-width: 1400px;width: 100%; ;">
                    <div class="col-4">
                        <div class="row justify-content-center">
                            <img src="image/index-2-3.png" alt="" style="height:65.6%;width: 53.2%;margin-top:2vw">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row justify-content-center">
                            <img src="image/index-2-2.png" alt="" style="height:71%;width: 76.7%">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row justify-content-center">
                            <img src="image/index-2-1.png" alt="" style="height: 77.3%;;width: 52.4%;margin-top:3vw">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="row" style="max-width: 1400px;width: 100%;margin-top:2vw">
                    <div class="col-4">
                        <div class="row justify-content-center">
                            <h5 class="index-text" style="max-width: 300px;">為有錢想投資自己未來的人，找一條通往財富自由的捷徑！</h5>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row justify-content-center">
                            <h5 class="index-text" style="max-width: 300px;">為站在投資市場邊迷惘的人，找一個穩健安全的投資方向！</h5>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row justify-content-center">
                            <h5 class="index-text" style="max-width: 300px;">為曾經在投資市場失利的人，找一盞重拾信心的獲利明燈！</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fiuld" style="background-color: #EEEEEE; margin-top:50px">
        <div class="row" style="min-height:600px;position: relative;">
            <div class="col-xs-12 col-sm-6">
                <img src="image/index-3.png" alt="city" style="position: absolute;left:0; width: 52vw;min-width: 300px;">
            </div>
            <div class="col-xs-12 col-sm-6 justify-content-left" style="margin-top:50vh;">
                <h3 class="index-text" style="font-style:inherit;">Bellykit是什麼？</h3>
                <div class="container" style="width:80%;max-width: 440px;margin-top:50px">
                    <img src="image/item2.png" alt="common" height="37px">
                    <h5 class="index-text" style="width:100%;text-align: left;margin:-37px 0 0 40px">一個投資策略開發者積極研發策略，並給予一般人輕鬆完成程式交易的策略平台。</h5>

                    <img src="image/item1.png" alt="common" height="27px" style="margin:60px 0 0 -30px;transform:rotate(-30deg)">
                    <h5 class="index-text" style="width:100%;text-align: left;margin:-37px 0 0 40px">無須具備寫程式的能力，就從眾多優秀策略中，點擊滑鼠挑選適合自己的投資策略。</h5>
                </div>
            </div>


        </div>
    </div>

    <div class="container-fiuld" style="background-color: #EEEEEE;">
        <div class="row" style="min-height:1000px;position: relative;">
            <img src="image/index-4.png" alt="meat" style="position: absolute;right:0; top:60px; width: 38vw;">
            <div class="container">
                <div class="row align-items-center" style="position: relative;margin-top:25vmin; background-color:white;min-height: 300px;;box-shadow: 2px 2px 2px 2px #cccccc">
                    <div class="col-4">
                        <h3 class="text-center" style="font-style:inherit ;background-color:#65bcbf;color: white;font-weight: 500;">為什麼是程式交易？</h3>
                    </div>
                    <div class="col-8" style="padding:10px">
                        <h5 class="index-text" style="text-align: left">利用理性、科學、細膩的程式交易，將過去人類所無法做到的願景一一實現！不會意氣用事、不會優柔寡斷、不會好高騖遠，追求穩健的獲利模式，且無法錯過每個賺錢的瞬間。
                        </h5>
                    </div>
                </div>
                <img src="image/item3.png" alt="meats" width="40%" style="min-width:300px ;float:right;margin-top:-10px">
                <h3 class="index-text" style="text-align:left; font-style:inherit;margin:200px 0 0 50px">為什麼能輕鬆獲利？</h4>

                    <div class="container" style="float:left ;margin-top:40px;width:48vw">
                        <img src="image/item5.png" alt="common" height="35px" style="margin:10px 0 0 10px;">
                        <h5 class="index-text" style="min-width:250px;text-align: left;margin:-37px 0 0 80px">Bellykit 找到志同道合的夥伴們，分享其精心研究的投資策略，讓有心進入投資市場的新手們也能 Belly out the pocket！</h5>
                        <img src="image/item4.png" alt="common" height="35px" style="margin:50px 0 0 0px;">
                        <h5 class="index-text" style="min-width:250px;text-align: left;margin:-37px 0 0 80px">優秀的投資策略能在平台間脫穎而出，無法獲利的策略會循市場機制淘汰，平台上的策略會不斷演化，創造更多獲利機會。</h5>
                    </div>
                    <img src="image/bellykit.gif" alt="wave" width="30%" style="float:right;min-width:300px;">
            </div>
        </div>
    </div>

    <div class="container-fiuld" style="background-color: #EEEEEE;">
        <div class="row" style="position: relative;">
            <img src="image/index-5.png" alt="meat" style="position:absolute;height:24vw;width: 24vw;">
            <div class="container">
                <div class="col-12">
                    <h1 class="index-text" style="font-size:2rem;margin:12vw 0 50px 0">Bellykit的使命<br></h1>
                    <h5 class="index-text">集結眾人策略智慧，擁抱市場投資收益。<br>為平台使用者及策略開發者構築前所未有的共榮城市。</h5>
                </div>
            </div>
            <img src="image/item6.png" alt="city" style="margin-top:50px; height:41.25vw; width:100vw">
        </div>
    </div>

    <div class="container-fiuld bg-white" style="margin-top:-10px">
        <div class="row justify-content-center" style="margin-bottom:100px ;">
            <img src="image/item7.png" alt="Bigface" style="height: 20vw;width: 43vw;min-height:140px; min-width: 300px;">
        </div>
        <h1 class="index-text" id="register" style="margin:0 0 30px 0">即刻加入我們！把握每個吃肉的瞬間！</h1>
        <h5 class="index-text">Belly out your pocket!</h5>
        <div class="container" style="margin-top:30px">
            <div class="row align-items-center">
                <div class="col-sm-6 order-sm-2 col-xs-12 justify-content-center align-items-center">
                    <div class="form-group">
                        <input type="name" placeholder="姓名" id="username" class="form-control" style="margin:15px 0">
                        <input type="nickname" placeholder="暱稱" id="usernickname" class="form-control" style="margin:15px 0">
                        <input type="email" placeholder="email" id="useremail" class="form-control" style="margin:15px 0">
                        <input type="password" placeholder="密碼" id="userpassword" class="form-control" style="margin:15px 0">
                        <input type="password" placeholder="確認密碼" id="usercheckpassword" class="form-control" style="margin:15px 0">
                        <input type="checkbox" id="confirm" style="margin:15px 10px 0 30px;width:20px;height:20px;">
                        <label for="confirm" style="text-align: center;color:#555555">同意本站<a href="tos.html" target="_blank">使用者條款</a></label>
                        <button class="btn btn-success" type="submit" style="width:100%;margin:15px 0">建立帳戶</button>
                    </div>
                </div>
                <div class="col-sm-6 order-sm-1 col-xs-12 justify-content-center align-items-center">
                    <button class="btn btn-outline-secondary btn-square" id="facebooklog" style="width:100%;margin:15px 5px"><img src="image/facebook.png" alt="facebook" style="height: 25px;margin-right: 10px;">Facebook</button>
                    <button class="btn btn-outline-secondary btn-square" id="googlelog" style="width:100%;margin:15px 5px 30px 5px"><img src="image/google.png" alt="google" style="height: 25px;margin-right: 10px;">Google</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        if ($(window).width() < 480) { //當視窗小於480時才運作
            $(function() {
                $('.navbar a').on('click', function() {
                    $('.navbar-toggler').click();
                });
            })
        };
    </script>
    <script>
        const win = document.defaultView;
        var nav_status = document.getElementsByClassName("navbar fixed-top navbar-expand-md navbar-light bg-test fixed-top")[0];

        function scrolldown() {
            var scroll_down = document.documentElement.scrollTop;
            if (scroll_down > 90) {
                nav_status.className = "navbar fixed-top navbar-expand-md navbar-light bg-light fixed-top";
            } else {
                nav_status.className = "navbar fixed-top navbar-expand-md navbar-light bg-test fixed-top";
            }
        }

        function bg2white() {
            nav_status.className = "navbar fixed-top navbar-expand-md navbar-light bg-light fixed-top";
        }

        window.addEventListener("scroll", scrolldown());

        $(function() {
            $('.navbar-toggler').on("click", function() {
                bg2white();
            })
        })
    </script>
    <script>
        $(window).on('load', function() {
            $('#loading').fadeOut(1000);
        });
    </script>
</header>
{% endblock content %}

