{% extends "base_generic.html" %} {% block content %}

<link href='{% static "css/tos.css" %}' rel="stylesheet">
<div class="container tos">
    <h1 class="index-test text-center">
        法律免責聲明
    </h1>
    <p class="tos-text" style="margin-top:20px;">
        倍利金融科技Bellykit（以下簡稱「本網站」）謹特別聲明並警示，任何投資行為均有其風險，作為一名理性投資者，應為自己任何投資決策行為承擔所有風險。本網站及所有與其他網站連結所提供之專業財經資訊，均具備高度即時性與專業性，並力求內容正確，惟其正確性最終仍須以相關國家及地區之交易所及各公司或所屬官方所公佈之資料為準，本網站所刊載資訊僅供參考，並不明示或暗示提供任何保證。
        <br>承上，本網站之所有人倍利金融科技Bellykit（以下簡稱「本公司」）並不保證所提供之資訊可以創造獲利、減少投資損失，亦不會鼓吹任何具體之投資行動。因此，本公司及本公司所屬員工，對於會員或本網站資訊使用者直接或間接依賴並參考相關資訊後，採取任何投資行為所導致之直接或間接損失，或因此產生之一切責任，均不負任何損害賠償及其他法律上之責任。
    </p>
</div>

{% endblock content %}