{% extends "base_generic.html" %} {% block content %}

<link href="css/tos.css" rel="stylesheet">
<div class="container tos">
    <h1 class="index-test text-center">
        隱私權暨個人資料保護聲明
    </h1>
    <p class="tos-text" style="margin-top:20px;">
        倍利金融科技Bellykit（以下簡稱「本網站」）致力於提供專業投資分析報告，當您使用本網站特定服務時，本網站將要求您填寫個人相關資料，基於對個人資料保護及線上隱私權的支持，您所填寫的資料將受下列聲明保障：
    </p>
    <ol>
        <li class="tos-text">
            <h6>個人基本資料的取得</h6>
            您可在不需輸入任何資料的情況下使用本網站多項服務（不包含：即時股市報價資訊、個人化自選服務及討論區發言權等）， 本網站將不會在未明確告知的情況下，收集您的任何個人資料。 當您希望使用即時股市報價資訊、個人化自選服務及討論區發言權等服務時，依證交所相關規定本網站將要求您填寫個人基本資料。本網站將妥善保護您所填寫的資料，如未獲得您的同意及授權，或無依據個資法等其他法律所規定必須提供個人資料之狀況下，絕不將資料透漏給其他個人及單位，並且限制內部人員私自使用此一資料。此外，本網站會記錄您連線的位址及在相關網站內的瀏覽活動等資料，惟僅供作網站流量分析和網路行為調查之用，以便於改善日後網站的服務品質。
        </li>
        <li class="tos-text">
            <h6>資料的使用範圍</h6>
            本網站所取得的個人資料，都僅供提供於內部使用。除有特別說明或依照相關法律規定外，本網站不會將使用者個人資料移作其他目的使用。
        </li>
        <li class="tos-text">
            <h6>個人基本資料的查詢與修正</h6>
            您可隨時利用會員資料管理功能，進行您個人資料的修改與維護，包括要求停止寄發電子報及活動快訊等。 本網站所提供之隱私權暨個人資料保護聲明，不包括本網站內所連結之其他網站及網頁。如您有任何疑問或使用上的問題，你可與本網站客服中心聯絡。
        </li>
    </ol>
</div>

{% endblock content %}