{% extends "base_generic.html" %} {% block content %}

<link href='{% static "css/tos.css" %}' rel="stylesheet">
<div class="container tos">
    <h1 class="index-test text-center">
        使用者條款
    </h1>
    <p class="tos-text" style="margin-top:20px;">
        歡迎您來到倍利金融科技Bellykit（以下稱本網站），當您使用本網站時，即表示您已閱讀、瞭解並同意接受本網站所有聲明之內容，包含服務條款、著作權聲明、免責聲明、隱私權暨個人資料保護聲明(以下合稱本網聲明)。如本網聲明經任何修改或變更後，您仍繼續使用本網站，也視為您已閱讀、瞭解並同意接受該等修改或變更。
    </p>
    <ol>
        <li class="tos-text">
            <h6>網站使用規則</h6>
            有關現有或將來之各項使用均受本服務條款之規範。 使用者在使用過程中，必須遵循以下原則，否則倍利金融科技Bellykit（以下稱本公司）有權不經通知逕行暫停、取消或終止全部或部分服務： 遵守當地有關的法律和法規。 不得為任何非法目的而使用。 遵守所有與網路服務有關的網路協定、規定。 不得利用本網站服務系統進行任何不利於本網站的行為。 不得於未經本公司授權即轉載本網站之任何內容。 不得利用本網站之任何資訊進行營利行為。 如發現任何非法使用情況，應立即通告本網站。
        </li>
        <li class="tos-text">
            <h6>有關廣告</h6>
            本網站所傳播或刊載之廣告，關於其內容所展現的文字、圖片、動畫、聲音、影像或以其他方式對商品或服務之說明，都是由廣告主或廣告代理商所提供，對於廣告之內容，本網站基於尊重廣告主或廣告代理商權利，不對廣告之內容進行審查。您應該自行判斷該廣告的正確性及可信度，本網站不對廣告做任何擔保責任。 本網站隨時會與其他公司、廠商等第三人（以下稱內容提供者）合作，由其提供包括新聞、訊息、電子報、eDM等不同內容供本網站刊登，本網站於刊登時均將註明內容提供者。基於尊重內容提供者之智慧財產權，本網站對其所提供之內容並不做實質之審查或修改，對該等內容之正確真偽亦不負任何責任。
            本網站主要收入來自廣告主的贊助，讓我們能夠持續提供高品質的全球金融資訊與服務，凡經註冊成為本網站會員後，即視為同意接收本網站所發出之會員電子報及EDM廣告訊息。
        </li>
        <li class="tos-text">
            <h6>網站服務暫停、中斷或終止</h6>
            本網站於下列情形之一時，有權隨時暫停、中斷或終止服務之全部或一部，對於使用者不負擔任何賠償責任： 對於本網站相關系統設備進行遷移、更換或升級維護時。 因不可抗力所造成服務停止或中斷。 因其他原因所造成服務停止或中斷
        </li>
        <li class="tos-text">
            <h6>與第三人網站之連結</h6>
            本網站連結之搜尋引擎及地圖服務，僅在提供使用者方便且迅速查詢到使用者想要的資訊，您所查到的資料是使用搜尋引擎之結果，不代表本網站與連結網站之業者有任何合作關係。如您因到達該網站而產生之糾紛或損害，請您逕行與該網站之業者聯絡，本網站不負任何責任。
        </li>
        <li class="tos-text">
            <h6>違約賠償</h6>
            使用者同意保障和維護本網站及其他第三人之權益，如因違反有關法律、法規或本服務條款中的任何條款，而對本網站或任何第三人造成損失，使用者同意承擔由此造成的損害賠償責任。
        </li>
        <li class="tos-text">
            <h6>服務聲明之增訂及修改</h6>
            本網站聲明之條款如有增訂或修改，您同意自該修訂條款於本網站公告之時起受其拘束，本網站將不個別通知。如您於公告後繼續使用本網站，則視為您已經同意該修訂條款。
        </li>
        <li class="tos-text">
            <h6>準據法及管轄法院</h6>
            關於本服務條款之解釋或適用，以中華民國之法律為準據法。 使用者因使用本網站而生之爭議，同意本誠信原則解決之，如訴訟之必要時，同意以台灣台北地方法院為第一審管轄法院。
        </li>
        <li class="tos-text">
            <h6>其他規定</h6>
            如本服務條款無論因何種原因完全或部分無效或不具有執行力，本服務條款的其餘條款仍應有效並且有約束力。 本服務條款中的各項標題僅為方便理解而設，在實際解釋本條款各項約定內容時，仍應以各項約定內容之文字為主，不受標題影響。
        </li>
    </ol>
</div>
{% endblock content %}